{{ define "main" }}
  {{ $tagName := .Name | replaceRE "-" " " }}
  {{ $tagSplit := $tagName | countwords }}
  {{ $tagLength := cond (eq $tagSplit 1) ($tagName | len) 0 }}
  {{ $tagIsWide := gt ($tagName | strings.Count "o") 1 }}
  {{ $tagIsLong := gt $tagLength 8 }}

  <h1
    class="page-heading page-heading--section"
    data-line="slim"
  >
    {{ $tagName }}
  </h1>
  <section class="sections">
    <nav class="sections-grid sections-grid__list">
    {{ range .Data.Pages }}
      <a class="section-card" href="{{ .Permalink }}">
        <span class="section-card-title">{{ .Title }}</span>
        <ul class="section-card-tags">
          {{ range $key, $tag := .Params.tags }}
            <li class="section-card-tags__tag-item">
              <p class="section-card-tags__tag" >
                <span class="section-card-tags__tag-symbol" aria-hidden="true">#</span>
                {{ $tag }}
              </p>
            </li>
          {{ end }}
        </ul>
      </a>
    {{ end }}
    </nav>
  </section>
{{ end }}
