<script>
  /**
   * Font loading via FontFace API to avoid FOUT.
   * After US charset subset files load, load full Latin chartset files.
   */
  if ('fonts' in document) {
    const fonts = [];

    fonts.push(
      new FontFace(
        'Nunito',
        'url(/fonts/Nunito-Bold.woff2) format("woff2"), url(/fonts/Nunito-Bold.woff) format("woff")',
        { style: 'normal', weight: '700' }
      )
    );
    fonts.push(
      new FontFace(
        'Nunito',
        'url(/fonts/Nunito-Regular.woff2) format("woff2"), url(/fonts/Nunito-Regular.woff) format("woff")',
        { style: 'normal', weight: '400' }
      )
    );

    const fontPromises = fonts.map(font => font.load());

    Promise.all(fontPromises).then(fonts => {
      fonts.forEach(font => {
        document.fonts.add(font);
      });
    });
  }
</script>
