{{ $navLinks := sub (len .Site.Data.nav.footer) 1 }}
<footer class="site-footer">
  <section class="site-footer__section">
    <ul class="site-footer__nav">
      <li class="site-footer__item">
        <p class="site-footer__text">
          &copy; 2023-{{ time.Now.Format "2006" }} {{ .Site.Title }}
        </p>
      </li>
      <li class="site-footer__item">
        <p class="site-footer__text site-footer__text--muted" aria-hidden="true">~</p>
      </li>
      <li class="site-footer__item">
        <a
          class="site-footer__link"
          href="https://github.com/fourjuaneight/wiki"
          target="_blank"
          rel="noopener noreferrer"
        >
          Source
        </a>
      </li>
    </ul>
  </section>
</footer>
