{{/*  Get image types  */}}
{{ $svg := .src | findRE "svg" }}
{{ $gif := .src | findRE "gif" }}
{{ $type := .src | replaceRE "(.*).(png|jpg|jpeg|svg|gif)" "$2" }}
{{ $imgMain := .src | replaceRE "(.*).(png|jpg|jpeg|svg|gif)" "$1" }}

{{/*  Create filenames  */}}
{{ $img := print $imgMain "." $type }}

{{/*  Render attributes  */}}
{{ $isHidden := cond (ne .hidden nil) "true" "false" }}
{{ $isSmall := cond (ne .small nil) "true" "false" }}
{{ $imgSize := cond (ne .small nil) "img-media__image--small" "img-media__image--regular" }}

{{/*  Render conditionally by file type  */}}
{{ if or (eq (index $svg 0) "svg") (eq (index $gif 0) "gif") }}
  {{ $simple := resources.Get (print "/img/" $img) }}
  <img
    src="{{ $simple.Permalink }}"
    alt="{{ .alt }}"
    class="{{ with .iClasses }}{{ . }}{{ else }}img-media__image img-media__image--inline{{ end }}"
    width="{{ .size }}"
    aria-hidden="{{ $isHidden }}"
    decoding="async"
    loading="lazy"
    {{ if ne .tabindex nil }}tabindex="{{ .tabindex }}"{{ end }}
    {{ with .active }}data-active="{{ . }}"{{ end }}
  />
{{ else }}
  {{ if ne .caption nil }}
  <figure class="img-figure">
  {{ end }}
  {{ $imgPrimary := resources.Get (print "/img/" $img) }}
  <picture
    class="{{ with .pClasses }}{{ . }}{{ else }}img-media{{ if eq .caption nil }} img-media--standalone{{ end }}{{ end }}"
    {{ if ne .tabindex nil }}tabindex="{{ .tabindex }}"{{ end }}
  >
    {{ $webpPrimary := $imgPrimary.Resize (print .size "x webp drawing") }}
    <source srcset="{{ $webpPrimary.Permalink }}" type="image/webp" />
    {{ $imgResized := $imgPrimary.Resize (print .size "x png") }}
    <img
      src="{{ $imgResized.Permalink }}"
      alt="{{ .alt }}"
      class="{{ with .iClasses }}{{ . }}{{ else }}img-media__image {{ $imgSize }}{{ end }}"
      width="{{ $imgResized.Width }}"
      data-small="{{ $isSmall }}"
      aria-hidden="{{ $isHidden }}"
      decoding="async"
      loading="lazy"
      {{ with .active }}data-active="{{ . }}"{{ end }}
    />
  </picture>
  {{ with .caption }}
    <figcaption class="img-figure__caption">{{ . }}</figcaption>
  {{ end }}
  {{ if ne .caption nil }}
  </figure>
  {{ end }}
{{ end }}
