<section class="post-meta">
  <time
    class="post-meta__time"
    datetime='{{ .Date.Format "2006-01-02" }}'
  >
    {{ .Date.Format "2006-01-02" }}
  </time>
  <ul class="post-meta__tags">
    {{/* Loop over tags list in front-matter */}}
    {{ range $key, $tag := .Params.tags }}
      <li class="post-meta__tag-item">
        <a
          class="post-meta__tag"
          href="/tags/{{ $tag }}"
          itemprop="about"
        >
          <span class="post-meta__tag-symbol" aria-hidden="true">#</span>
          {{ $tag }}
        </a>
      </li>
    {{ end }}
  </ul>
</section>
